*{
    background-color: black;
}
@font-face {
    font-family: poppins;
    src: url(images/Poppins-Regular.ttf);
}
@font-face {
    font-family: myfont;
    src: url(images/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: broadway;
    src: url(images/Broadway\ CG.otf);
}
.img{
    margin-right: 140px;
    margin-left: 70px;
}
a:visited{
    color: white;
    
}
a:hover{
  color: #ED1C24;
}
.link a{
   
   margin: 10px;
   font-family: poppins;
   text-decoration: none;
   
   
}
.link button{
    color: aliceblue;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}
.button{
    background-color:#ED1C24

}

.salt span{
    font-family: broadway;
    font-size: 42px;
}
.salt{
    color: white;
    font-family: poppins;
    font-size: xx-large;
    text-align: center;
}
.rest{
    color: white;
    font-family: poppins;
    font-size: xx-large;
    text-align: center;

}
.click{
    color: rgb(193, 186, 186);
    text-align: center;
    font-family: poppins;
}
.label{
    background-color: white;
    
    width: 250px;
    height: 150px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin-left:20px ;
    margin-right: 20px;
    


}
.label img{
    background-color: white;

    
    width: 250px;
    height: 150px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin-left:20px ;
    margin-right: 20px;
    padding: 30px;
}
.label1 button{
    color: aliceblue;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 50px;
    font-size: small;
    padding-left: 30px;
    padding-right: 30px;
    
}
.label1 button:hover{
    color: #ED1C24;
}


.box h1{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: broadway;
}
.box h2{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: myfont;
}
.box p{
    color: rgb(193, 186, 186);
    text-align: center;
    font-family: poppins;
}


.text{
    display: flex;
    justify-content: space-between;
}

    
  
.text h5 {
    margin-left: 70px;
    color: #ED1C24;
}

.text span{
    margin-left: 70px;
    color: white;
    font-size: xx-large;
}
.text p{
    color: white;
    margin-left:70px ;
}
.text div{
    color: white;
    margin-left:70px ;
}
.text button{
    color: aliceblue;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 80px;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    
}
.text button:hover{
    color: #ED1C24;
}

.text1{
    display: flex;
    justify-content: space-between;
}

    
  
.text1 h5 {
    margin-left: 70px;
    color: #ED1C24;
}
.text1 span{
    margin-left: 70px;
    color: white;
    font-size: xx-large;
}
.text1 p{
    color: white;
    margin-left:70px ;
}
.text1 div{
    color: white;
    margin-left:70px ;
}
.text1 button{
    color: aliceblue;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 80px;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    
}
.text1 button:hover{
    color: #ED1C24;
}

.text2{
    display: flex;
    justify-content: space-between;
}

    
  
.text2 h5 {
    margin-left: 70px;
    color: #ED1C24;
}
.text2 span{
    margin-left: 70px;
    color: white;
    font-size: xx-large;
        
}
.text2 p{
    color: white;
    margin-left:70px ;
}
.text2 div{
    color: white;
    margin-left:70px ;
}
.text2 button{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 80px;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    
}
.text2 button:hover{
    color: #ED1C24;
}

.text4 h1{
color: white;
font-family: broadway;
text-align: center;
font-size: 60px;
}
.text4 h2{
    color: white;
    font-family: myfont;
    text-align: center;
    font-size: 50px;
    }
.fran img{
    margin: 30px;
}
.express p{
    font-size: small;
    color: #ED1C24;
    display: inline-block;
    margin-right: 160px;
    margin-left:85px;
}
.express1 p{
    font-size: x-large;
    font-family: broadway;
    display: inline-block;
    margin-left: 100px;
    margin-right: 70px ;
    color: white;

    
}
.span{
    font-family: poppins;
    font-size: x-large;
    color: white;
}
.span1{
    font-family: poppins;
    font-size: x-large;
    color: white;
}
.span2{
    font-family: poppins;
    font-size: x-large;
    color: white;

}

.locate1 p{
    display: inline-block;
    margin-left: 90px;
    margin-right: 100px;
    font-size: small;

}

.locate2 p{
    display: inline-block;
    margin-left: 90px;
    margin-right: 155px;
   font-size: small;
}
.divbox button{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 120px;
    margin-right: 100px;
    font-size: small;
    padding-left: 30px;
    padding-right: 30px;
    
}
.divbox button:hover{
    color: #ED1C24;
}

.fran1 img{
    margin-left:180px;

    
}
.express2 p{
    font-size: small;
    color: #ED1C24;
    display: inline-block;
    margin-right: 300px;
    margin-left:220px;
}
.express3 p{
    font-size: x-large;
    font-family: broadway;
    display: inline-block;
    margin-left: 225PX;
    margin-right: 100PX ;
    color: white;
    }
    .span4{
        font-family: poppins;
        font-size: x-large;
        color: white;
    }
    .span5{
            font-family: poppins;
            font-size: x-large;
            color: white;
    }
    .locate3 p{
        display: inline-block;
        margin-left: 250px;
        margin-right: 70PX;
        font-size: small;
    }

    .locate4 p{
        display: inline-block;
        margin-left: 260px;
        margin-right: 80px;
       font-size: small;
    }
    .divbox1 button{
        color: white;
        border: 1px solid white;
        border-radius: 30px;
        padding: 10px;
        margin-left: 230px;
        margin-right: 150px;
        font-size: small;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    .divbox1 button:hover{
        color: #ED1C24;
    }
    


.pepper {
 
    font-size: 60px;
    font-family: broadway;
    color: white;
    text-align: center;
}

.village {
    font-size: 40px;
    font-family: myfont;
    color: white;
    text-align: center;
}
.text6{
    display: flex;
    justify-content: space-between;
}
.text6 h5 {
    margin-top: 120px;
    margin-left: 40px;
    color: #ED1C24;
}
.text6 p{
    font-size: xx-large;
    font-family: broadway;
    color: white;
    margin-left:30px ;
}
.text6 p span{
    font-size: xx-large;
    font-family: poppins;
}
.text6 div{
    color: rgb(165, 161, 161);
    font-size: small;
    margin-left: 20px;
}

.text6 button{
    color: white;
    background-color: #28A745;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 80px;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    
}
.text6 button:hover{
    color: rgb(8, 8, 8);
}
.last{
    font-size:60px;
    font-family: broadway;
    color: #ffffff;
    text-align: center;
    background-color:  rgb(20, 19, 19);
}
.last1{
    font-size: 40px;
    font-family: myfont;
    color: white;
    text-align: center;
    background-color: rgb(20, 19, 19);
}
.last1 span{
    font-size: x-large;
    background-color: rgb(20, 19, 19);
}
.label4{
    background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin-left:50px ;
    margin-right: 0px;
    color: #ED1C24;
    
   } 
   .label4  img{
    border-radius: 50px;
    background-color: white;
   
   }          



   .label5{
    background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;

    margin-left: 180px;
    
   } 
   .label5  img{
    border-radius: 50px;
    background-color: white;

   }      



.social{
    text-align: center;
    font-family: myfont;
    font-size: xx-large;
    color: white;
}

.container{
    height: 350px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-container{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
    
}
.slide-image{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide-image img{
    width: 100%;
    transition: transform 1s;
}
.slide-image img:hover{
  transform: translateZ(20px);    
}
.footer{
    color: black;
    background-color: black;
    width: 1400px;
    height: 500px;
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
.lastfile img{
    width: 150px;
    height: 100px;
}
.lastfile p{
 font-size: small;
}
.lastfile1 h5{
    color: white;
    font-size: large;
    font-family: myfont;
    
}
.lastfile1 a{
    color: rgb(168, 166, 166);
    font-family: poppins;
    margin-top: 10px;
    font-size: large;
    text-decoration: none;
    display: block;
    margin-left: 30px;
}


.lastfile2 h5{
    color: white;
    font-size: large;
    font-family: myfont;
    
}
.lastfile2 a{
    color: rgb(168, 166, 166);
    font-family: poppins;
    margin-top: 10px;
    font-size: large;
    text-decoration: none;
    display: block;
    
}

.lastfile3 h5{
    color: white;
    font-size: large;
    font-family: myfont;
    
}
.lastfile3 a{
    color: rgb(168, 166, 166);
    font-family: poppins;
    margin-top: 10px;
    font-size: large;
    text-decoration: none;
    display: block;
    
}
.logo a{
    display: inline-block;
}

.power p{
    font-size: small;
    display: inline-block;
      
}
.power span{
    font-size: small;
    display: inline-block;
    color: rgb(121, 118, 118);
}